@import url(https://fonts.googleapis.com/css?family=Karla:400,700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Karla; }

body {
  background-color: #e5eff5; }

.price-component {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px; }
  .price-component .join-our-community {
    background-color: white; }
  .price-component .monthly-subcription {
    background-color: #2ab2af; }
  .price-component .why-us {
    background-color: #4bbebc; }

@media screen and (min-width: 550px) {
  .price-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .price-component .join-our-community {
      grid-column: 1/3;
      grid-row: 1/2; }
    .price-component .monthly-subcription {
      grid-column: 1/2;
      grid-row: 2/3; }
    .price-component .why-us {
      grid-column: 2/3;
      grid-row: 2/3; } }
